<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" 
         connectionString="Data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=BankDB;Integrated Security=True;AttachDBFilename=|DataDirectory|\DataBase\BankDB.mdf;"
         providerName="System.Data.SqlClient"/>
    <add name="DBConnectionServer"
         connectionString="Data Source=LAPTOP-RDE946T2\SQLEXPRESS;Initial Catalog=BankDB;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>